@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9fb;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.App__Container {
  max-width: 90%;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #48d9c2 0%,
    #6760fd 51%,
    #48d9c2 100%
  );
}
.btn-grad {
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 25px;
  display: block;
  cursor: pointer;
}
.btn-grad:focus {
  outline: none;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
